body {
    background-color: #00AA00;
}

.puzzle1 {
    height: 80%;
    display: flex;
    justify-content: center;
}

.puzzle-ps {
    width: 120px;
    height: 120px;
    float: left;
}

.puzzle-c {
    width: 790px;
    height: 275px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); 
    float: left;
}

.puzzle-im {
    background-image: url("ivi.jpg");
}

.puzzle-bs {
    border: 2px solid black;
    background-color: #EEEEEE;
}

#img-ivi1 {
    background-position: 0 0;
}

#img-ivi2 {
    background-position: -125px 0;
}

#img-ivi3 {
    background-position: -250px 0;
}

#img-ivi4 {
    background-position: -375px 0;
}

#img-ivi5 {
    background-position: 0 -125px;
}

#img-ivi6 {
    background-position: -125px -125px;
}

#img-ivi7 {
    background-position: -250px -125px;
}

#img-ivi8 {
    background-position: -375px -125px;
}

#img-ivi9 {
    background-position: 0 -250px;
}

#img-ivi10 {
    background-position: -125px -250px;
}

#img-ivi11 {
    background-position: -250px -250px;
}

#img-ivi12 {
    background-position: -375px -250px;
}